@if (Context.Request.Cookies["Type"] != null && Context.Request.Cookies["Message"] != null)
{
    <div class="uk-alert-@Context.Request.Cookies["Type"]" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>@Context.Request.Cookies["Message"]</p>
    </div>
    Context.Response.Cookies.Delete("Type");
    Context.Response.Cookies.Delete("Message");
}