@{
    ViewData["Title"] = "Registrar";
}

<h2>Registrar</h2>

<hr />

@if (ViewData["Message"] != null && ViewData["Type"] != null)
{
    <div class="alert alert-@ViewData["type"]">
        @ViewData["message"]
    </div>
}

<form asp-controller="Account" asp-action="InputRegistrar" method="post">
    <div class="form-group">
        <label>CPF</label>
        <input id="cpf" name="Cpf" type="text" class="form-control" placeholder="Ex. 12345678912" maxlength="11" />
    </div>
    <div class="form-group">
        <label>Nome Completo</label>
        <input id="nome" name="Nome" type="text" class="form-control" placeholder="Ex. Matheus Pedroni" />
    </div>
    <div class="form-group">
        <label>RG</label>
        <input id="rg" name="Rg" type="text" class="form-control" placeholder="Ex. 12345678X" maxlength="14" />
    </div>
    <div class="form-group">
        <label>E-mail</label>
        <input id="email" name="Email" type="email" class="form-control" placeholder="Ex. exemplo@gmail.com" />
    </div>
    <div class="form-group">
        <label>Senha <span id="forca" style="color: darkred;">(Muito Fraca)</span></label>
        <input id="senha" name="Senha" type="password" class="form-control" placeholder="Até 12 digitos" maxlength="14" />
    </div>

    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">REGISTRAR</button>
    <a asp-area="" asp-controller="Account" asp-action="Login" class="pull-right">Já possui uma conta? Entrar</a>
</form>

@section Scripts {

    <script>

        $("#senha").on('input', (e) => {

            let senha = $("#senha").val();
            let keys = senha.split("");
            let nota = 10;
            let totalNums = 0;
            let totalLetras = 0;

            keys.forEach((entry) => {
                if (isNaN(entry)) totalNums++; else totalLetras++;
            });

            if (totalNums <= 2) nota--;
            if (totalLetras <= 3) nota--;

            let nomeKeys = $("#nome").val().split(" ");
            let iniciais = "";
            nomeKeys.forEach((entry) => {
                iniciais += entry.substring(0, 1);
            });
            if (senha.indexOf(iniciais) != -1) nota -= 3;
            let cpf = $("#cpf").val();

            if (senha.indexOf(cpf) != -1) nota -= 2;
            if (senha.indexOf($("#nome").val().substring(0, $("#nome").val().indexOf(" "))) != -1) nota -= 2;

            if (senha == "") nota = 0;

            if (nota == 9 || nota == 10) {
                $("#forca").html("(Muito Forte)").css("color", "green");
            } else if (nota == 7 || nota == 8) {
                $("#forca").html("(Forte)").css("color", "lawngreen");
            } else if (nota == 5 || nota == 6) {
                $("#forca").html("(Razoável)").css("color", "gold");
            } else if (nota == 3 || nota == 4) {
                $("#forca").html("(Fraca)").css("color", "salmon");
            } else {
                $("#forca").html("(Muito Fraca)").css("color", "darkred");
            }

        });

    </script>

}