@{
    ViewData["Title"] = "Recuperar Senha";
}

<h2>Recuperar Senha</h2>

<hr />

@if (Context.Request.Cookies["Type"] != null && Context.Request.Cookies["Message"] != null)
{
    Context.Response.Cookies.Delete("Type");
    Context.Response.Cookies.Delete("Message");
    <div class="alert alert-@Context.Request.Cookies["Type"]">
        @Context.Request.Cookies["Message"]
    </div>
}

    <form asp-controller="Account" asp-action="InputValidate" method="post">
        <div class="form-group">
            <label>CPF</label>
            <input id="cpf" name="Cpf" type="text" class="form-control" placeholder="Ex. 12345678912">
        </div>
        <div class="form-group">
            <label>Nova Senha</label>
            <input id="senha" name="NovaSenha" type="password" class="form-control" placeholder="Digite uma nova senha">
        </div>
        <div class="form-group">
            <label>Token</label>
            <input id="token" name="Token" type="text" class="form-control" placeholder="Digite o Token recebido" maxlength="8" value="@Context.Request.Query["Token"]">
        </div>

        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-warning">ALTERAR SENHA</button>
        <a asp-area="" asp-controller="Account" asp-action="Login" class="pull-right">Lembrou sua senha? Fazer login</a>
    </form>