<h1 class="uk-h1">Recuperar Senha</h1>
<p class="uk-text-lead">Utilize o código recebido em seu e-mail.</p>

@Html.Partial("Alert")

<form asp-controller="Account" asp-action="ValidatePost" method="post">
    <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="CPF" name="Cpf" required>
    </div>
    <div class="uk-margin">
        <input class="uk-input" type="password" placeholder="Nova Senha" name="NovaSenha" required>
    </div>
    <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="Token" value="@Context.Request.Query["Token"]" name="Token" required>
    </div>
    <button class="uk-button uk-button-primary" type="submit">ALTERAR SENHA</button>
</form>