@model List<IUser>

@{
    ViewData["Page"] = "home";
}

<div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="animation: push;ratio: 7:3;">

    <ul class="uk-slideshow-items">
        <li>
            <img src="~/images/slide-1.jpg" alt="" uk-cover>
        </li>
        <li>
            <img src="~/images/slide-2.jpg" alt="" uk-cover>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>

<hr class="uk-divider-icon">

<div class="uk-column-1-2 uk-column-divider">

    <h3>Link your life</h3>
    <ul>
        <li>Cuide de nossa aplicação;</li>
        <li>Nossa aplicação cuida de você;</li>
        <li>O melhor aplicativo para cuidar da saúde!</li>
    </ul>

    <h3>Como ?</h3>
    <ul>
        <li>Registre-se em nossa aplicação;</li>
        <li>Nos conte um pouco sobre sua saúde;</li>
        <li>Deixe que nosso algoritimo cuide de você;</li>
    </ul>

</div>