@using ProjetoSaude.Manager
@using ProjetoSaude.Data

@inject AppManager appManager
@inject IDatabaseContext Database

@{
    IUser logged = appManager.getLoggedUser(Context, Database);
}

@if (logged != null)
{
    
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#editModal"><span class="glyphicon glyphicon-user"></span> @logged.Nome</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-remove-sign"></span> Sair</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Registrar"><span class="glyphicon glyphicon-user"></span> Registrar</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
}