@{
    ViewData["Page"] = "imc";
}

<h1 class="uk-h1">Cálculo de IMC</h1>
<p class="uk-text-lead">Faça o cálculo do seu Indíce de Massa Corporal</p>

<hr class="uk-divider-icon" />

<form id="form-imc">
    <div class="uk-margin">
        <input class="uk-input" type="text" id="imc-peso" placeholder="Peso (Kilogramas) Ex: 75,8">
    </div>
    <div class="uk-margin">
        <input class="uk-input" type="text" id="imc-altura" placeholder="Altura (Metros) Ex: 1,70 ">
    </div>
    <button class="uk-button uk-button-default" type="reset">LIMPAR</button>
    <button class="uk-button uk-button-primary" type="submit">CALCULAR</button>
</form>

<hr class="uk-divider-icon" />

<div id="resultados" style="visibility: hidden">
    <h1 class="uk-g1">Resultados</h1>
    <p class="uk-text-lead">Seu IMC é<strong id="resultado"></strong></p>
    <p class="uk-text-lead">Sua Classificação:  <strong id="classificacao"></strong></p>
</div>

@section Scripts {
    <script>
        $('#imc-peso').on('input', (event) => {
            if (isNaN(parseFloat($('#imc-peso').val()))) {
                $('#imc-peso').addClass('uk-form-danger');
            } else {
                $('#imc-peso').removeClass('uk-form-danger');
            }
        });

        $('#imc-alutra').on('input', (event) => {
            if (isNaN(parseFloat($('#imc-altura').val()))) {
                $('#imc-altura').addClass('uk-form-danger');
            } else {
                $('#imc-altura').removeClass('uk-form-danger');
            }
        });

        $('#form-imc').on('submit', (event) => {
            console.log('submited');
            event.preventDefault();

            let peso = parseFloat($('#imc-peso').val().replace(",","."));
            let altura = parseFloat($('#imc-altura').val().replace(",", "."));

            $('#imc-peso').removeClass('uk-form-danger');
            $('#imc-altura').removeClass('uk-form-danger');

            let imc = peso / (altura * altura);

            if (isNaN(imc)) {
                $('#resultados').css('visibility', 'hidden');
                return;
            }

            if (imc < 18.5)
                $('#classificacao').html("Abaixo do Peso");
            else if(imc >= 18.6 && imc <= 24.9 )
                $('#classificacao').html("Peso Ideal");
            else if (imc >= 25 && imc <= 29.9)
                $('#classificacao').html("Levemente Acima do peso");
            else if (imc >= 30 && imc <= 34.9)
                $('#classificacao').html("Obesidade Grau I");
            else if (imc >= 35 && imc <= 39.9)
                $('#classificacao').html("Obesidade Grau II (Severa)");
            else if (imc > 40)
                $('#classificacao').html("Obesidade Grau III (Morbida)");



            $('#resultados').css('visibility', 'visible');
            $('#resultado').html(imc.toFixed(2));
           
        });
    </script>
}
